<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.tourguide">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StateActivities.AssamActivity"
            android:label="Assam"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".StateActivities.ArunachalActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/arunachal"/>
        <activity
            android:name=".StateActivities.BiharActivity"
            android:label="@string/bihar"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".StateActivities.ChandigarhActivity"
            android:label="Chandigarh"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".StateActivities.DelhiActivity"
            android:label="Delhi"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".StateActivities.GoaActivity"
            android:label="Goa"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".StateActivities.HaryanaActivity"
            android:label="Haryana"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".StateActivities.MadhyaPradeshActivity"
            android:label="Madhya Pradesh"
            android:parentActivityName=".MainActivity" />
        <!--Setting a fake parent activity on City DetailsActivity so that Up button shows up-->
        <activity android:name=".CityDetailsActivity"
            android:parentActivityName=".StateActivities.ArunachalActivity"/>
    </application>

</manifest>